In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
544,tt0250687,48000000,85498534,Rat Race,Cuba Gooding Jr.|Seth Green|Whoopi Goldberg|Br...,Jerry Zucker,563 miles. 9 people. $2 million. 1001 problems!,"In an ensemble film about easy money, greed, m...",112,Adventure|Comedy,Paramount Pictures|Fireworks Pictures|Alphavil...,7/30/2001,5.9,2001
111,tt1243974,37000000,26250020,Aloha,Bradley Cooper|Emma Stone|Rachel McAdams|John ...,Cameron Crowe,Sometimes you have to say goodbye before you c...,A celebrated military contractor returns to th...,105,Adventure|Comedy|Romance,Columbia Pictures|Vinyl Films|Regency Enterpri...,5/27/2015,5.2,2015
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,5.4,2004
1786,tt0393597,15000000,109000000,Earth,Patrick Stewart|Constantino Romero|James Earl ...,Alastair Fothergill|Mark Linfield,The remarkable story of three families.,From the acclaimed team that brought you BBC's...,90,Documentary,BBC,4/22/2007,7.5,2007
594,tt0266391,7000000,3646994,The Cat's Meow,Kirsten Dunst|Edward Herrmann|Eddie Izzard|Car...,Peter Bogdanovich,Some secrets won't stay buried.,Semi-true story of the Hollywood murder that o...,114,Drama|Mystery|Thriller,Lions Gate Films|Dan Films|CP Medien AG,8/3/2001,5.7,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data.release_date = data.release_date.apply(lambda dt: pd.to_datetime(str(dt)))

# подсчитаем прибыль/убытки (profit = revenue - budget)
data['profit'] = data.revenue - data.budget

# для решения отдельных заданий вынесем год и месяц выхода фильма в отдельные колонки
data['year'] = data.release_date.dt.year
data['month'] = data.release_date.dt.month

# объявим словарь жанров
genres_dict = {} 

def fill_genres_dict(genres):
    '''заполняем словарь жанров, ключ - жанр, значение - количество упоминаний'''
    for elem in genres.split('|'):
        if not elem in genres_dict:
            genres_dict.setdefault(elem, 0) # добавим новый элемент в словарь
        genres_dict[elem] += 1 # увеличим счётчик

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [7]:
# тут пишем ваш код для решения данного вопроса:
display(data[data.budget == data.budget.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,2011,5

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [9]:
display(data[data.runtime == data.runtime.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2003,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [11]:
display(data[data.runtime == data.runtime.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,2011,4

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'
# +

In [13]:
print(data.runtime.mean())

109.6585494970884

ВАРИАНТ 2

In [14]:
print(data.runtime.sum() / len(data))

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107'
# +

In [16]:
display(data.runtime.describe())

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = '5. Avatar (tt0499549)'
# +

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
display(data[data.profit == data.profit.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,2009,12

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

In [20]:
display(data[data.profit == data.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,2013,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1. 1478'
# +

In [22]:
print(len(data[data.revenue > data.budget]))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

In [24]:
# получим новый датасет с годом выхода 2008
data2 = data[data.year == 2008]
display(data2[data2.revenue == data2.revenue.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,2008,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

In [26]:
# получим новый датасет с нужным периодом
data2 = data[(data.year >= 2012)&(data.year <= 2015)]
display(data2[data2.profit == data2.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,2013,7

# 11. Какого жанра фильмов больше всего?

In [27]:
answers['11'] = '3. Drama'
# +

In [28]:
# применим итерацию по строкам датафрейма
for i, j in data.iterrows():
    fill_genres_dict(j.genres) # заполним словарь жанров (объявлен в предобработке)

genres_max = 0 # здесь будем хранить максимальное значение ключа 
genres_name = '' # а это и будет наиболее упоминаемым жанром
for elem in genres_dict:
    if genres_max < genres_dict[elem]:
        genres_max = genres_dict[elem]
        genres_name = elem

print(genres_max,genres_name)

782 Drama

ВАРИАНТ 2

In [29]:
# используем counter из collections
c = Counter()
for i, j in data.iterrows(): # итерация по датасету
    for elem in j.genres.split('|'): # разберём строку с жанрами
        c[elem] += 1 # увеличим счётчик

print(c.most_common()[0]) # отсортируем и выведем первый элемент

('Drama', 782)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = '1. Drama'
# +

In [31]:
c = Counter()
for i, j in data.iterrows(): # итерация по датасету
    for elem in j.genres.split('|'): # разберём строку с жанрами
        if j.revenue > j.budget:
            c[elem] += 1 # изменим счётчик

print(c.most_common()[0]) # отсортируем и выведем первый элемент

('Drama', 560)

ВАРИАНТ 2

In [32]:
# копируем датафрейм
data2 = data.query('revenue > budget').copy() 
# разложим жанры на списки
data2.genres = data2.genres.str.split('|') 
# разобъём каждый элемент списка на новую строку датафрейма
data2 = data2.explode('genres') 
# подсчитаем значения
data2.genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
answers['13'] = '5. Peter Jackson'
# +

In [34]:
data2 = data.copy() # создадим копию 
# разберём столбец на списки
data2.director = data2.director.str.split('|') 
# сгруппируем, сложим и выведем
answer = data2.explode('director').groupby(['director']).revenue.sum()
# отсортируем и выведем первое значение
answer.sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = '3. Robert Rodriguez'
# +

In [36]:
data2 = data[data.genres.str.contains('Action')]
c = Counter() # применим счётчик
for i, j in data2.iterrows(): # итерация по датасету
    for elem in j.director.split('|'): # разберём строку
        c[elem] += 1 # изменим счётчик

print(c.most_common()[0]) # отсортируем и выведем первый элемент

('Robert Rodriguez', 9)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = '3. Chris Hemsworth'
# +

In [38]:
data2 = data.copy()
data2.cast = data2.cast.str.split('|') # разберём столбец на списки
# соберём новый датасет с интересующим нас годом
data2 = data2[data2.year == 2012] 
# сгруппируем, сложим и выведем первый элемент отсортированного датасета
answer = data2.explode('cast').groupby(['cast']).revenue.sum()
answer.sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = '3. Matt Damon'
# +

In [41]:
# создаём копию датафрейма с 
data2 = data[data.budget > data.budget.mean()].copy()
data2.cast = data2.cast.str.split('|') # разберём столбец на списки
# разобъём каждый элемент списка на новую строку датафрейма
data2 = data2.explode('cast') 
# сгруппируем и подсчитаем
answer = data2.groupby(['cast']).imdb_id.count()
answer.sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = '2. Action'
# +

In [43]:
# создадим новый датафрейм с нужными записями
data2 = data[data.cast.str.contains('Nicolas Cage')].copy() 
# разберём столбец на списки
data2.genres = data2.genres.str.split('|') 
# разобъём каждый элемент списка на новую строку датафрейма
data2 = data2.explode('genres') 
# сгруппируем и подсчитаем
answer = data2.groupby(['genres']).imdb_id.count()
answer.sort_values(ascending=False).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# +

In [45]:
# создадим новый датафрейм с нужными записями
data2 = data[data.production_companies.str.contains('Paramount Pictures')]
# отобразим запись с минимальным профитом
display(data2[data2.profit == data2.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,2002,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '5. 2015'
# +

In [47]:
# сгруппируем по году и подсчитаем кассу, отсортируем и покажем первый
data.groupby(['year']).revenue.sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '1. 2014'
# +

In [49]:
# отберём нужные записи
data2 = data[data.production_companies.str.contains('Warner Bros')]
# сгруппируем по году и подсчитаем профит, отсортируем и покажем первый
answer = data2.groupby(['year']).profit.sum()
answer.sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = '4. Сентябрь'
# +

In [51]:
# сгруппируем по столбцу месяц, подсчитаем, отсортируем, выведем
answer = data.groupby(['month']).imdb_id.count()
answer.sort_values(ascending=False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = '2. 450'
# +

In [53]:
# сделаем запрос
print(data.query('month in [6, 7, 8]').imdb_id.count())

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = '5. Peter Jackson'
# +

In [55]:
# оставим только то что нужно
data2 = data.query('month in [1, 2, 12]').copy()
# разберём столбец на списки
data2.director = data2.director.str.split('|') 
# разобъём каждый элемент списка на новую строку датафрейма
data2 = data2.explode('director') 
# сгруппируем и посчитаем
answer = data2.groupby(['director']).imdb_id.count()
answer.sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = '5. Four By Two Productions'
# +

In [57]:
data2 = data.copy()
# разберём столбец наименовая компаний на списки
data2.production_companies = data2.production_companies.str.split('|') 
# разделим на отдельные строки списки с наименованиями компаний
data2 = data2.explode('production_companies')
# новый столбец с длиной названия фильма
data2['lenght_title'] = data2['original_title'].apply(len)
# приведём 'Universal Pictures' и 'Universal' приведём все названия к одному представлению
data2['production_companies'] = \
data2['production_companies'].apply(lambda x: 'Universal Pictures' if x == 'Universal' \
                                    else x)
# сгруппируем по наименованию компании и вычислим среднюю длину 
answer = data2.groupby(['production_companies']).lenght_title.mean()
answer.sort_values(ascending=False).head(10)

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
The Saul Zaentz Company      43.0
Lucasfilm                    41.5
TSBD Canada Productions      41.0
3Foot7                       41.0
Cool Music                   41.0
Name: lenght_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = '3. Midnight Picture Show'
# +

In [59]:
data2 = data.copy()

# разберём столбец наименовая компаний на списки
data2.production_companies = data2.production_companies.str.split('|') 

# разделим на отдельные строки списки с наименованиями компаний
data2 = data2.explode('production_companies')

# приведём 'Universal Pictures' и 'Universal' приведём все названия к одному представлению
data2['production_companies'] = \
data2['production_companies'].apply(lambda x: 'Universal Pictures' if x == 'Universal'\
                                    else x)

# подсчитаем количество слов в описании и запишем в новый столбец
data2['count_words'] = data2['overview'].apply(lambda x: len(x.split()))

# сгруппируем по наименованию компании и вычислим среднюю длину 
answer = data2.groupby(['production_companies']).count_words.mean()

# посмотрим на записи
answer.sort_values(ascending=False).head(10)

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
Heineken Branded Entertainment      159.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
Lions Gate Family Entertainment     152.0
Crest Animation Productions         152.0
Art Pictures Studio                 147.0
Cinema Gypsy Productions            144.0
Starbucks Entertainment             144.0
Name: count_words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [61]:
data2 = data.copy()

# определим границу в 99%
limit = data2.vote_average.quantile(q = 0.99)

# нас интересует только определённый список фильмов
films = ['Inside Out', 'The Dark Knight', '12 Years a Slave',
'BloodRayne', 'The Adventures of Rocky & Bullwinkle',
'Batman Begins', 'The Lord of the Rings: The Return of the King', 
'Upside Down', '300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1',
'Upside Down', 'Inside Out', 'Iron Man']

data2 = data2[data2.original_title.isin(films)]

# выведем все записи у которых значение vote_average больше лимита
data2[data2.vote_average > limit]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,year,month
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,2015,6
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,2008,7
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,2003,12
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,2013,10

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# +

In [63]:
import itertools as it
data2 = data.copy()

# разобъём строки на списки, а их в свою очередь на пары
data2.cast = data2.cast.str.split('|').apply(lambda x: list(it.combinations(x, 2)))

# теперь разобъем списки пар на строки
data2 = data2.explode('cast')

# посчитаем значения
data2.cast.value_counts().head(10)

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
(Kristen Stewart, Taylor Lautner)      5
(Kristen Stewart, Robert Pattinson)    5
(Adam Sandler, Kevin James)            5
(Robert Pattinson, Taylor Lautner)     5
(Hugh Jackman, Ian McKellen)           5
Name: cast, dtype: int64

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [65]:
# и убедиться что ни чего не пропустил)
len(answers)

27